@import "~@elastic/eui/src/theme_light.scss";

.Search--ListItem {
  cursor: pointer;
  padding-top: $euiSizeM;
  padding-left: $euiSizeL;
  &:hover {
    background-color: $euiColorLightestShade;
  }
}

.Search--loadMore {
  padding-left: $euiSizeL;
  padding-top: $euiSizeM;
  fontsize: $euiSizeXS;
}
