// Increase the based font size for Elastic UI;
$euiFontSize: 18px;

@import "~@elastic/eui/src/theme_light.scss";

html,
body {
  // The default letter spacing in ElasticUI is a bit tight.
  letter-spacing: 0.02em;
  background-color: white;
}

.Navbar--searchSection {
  justify-content: flex-start;
  align-items: center;

  input {
    padding: 8px;
    border: solid 1px #ddd;
    border-radius: 3px;
    min-width: 400px;
    font-size: $euiFontSizeS;
  }
}

.Page--EuiPage {
  padding: 0;
}

.Page--EuiPageContent {
  border: 0;
  box-shadow: none;
}
